/* Home.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* background-color: aliceblue; */
}

.home-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('../img/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  box-shadow: 0px 0px 20px 0px rgba(250, 249, 249, 0.75);
}

.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20265C;
  padding: 10px;
  border-radius: 40px;
}

.welcome-button-primary {
  font-size: 33px;
  color: white;
  background-color: transparent;
  border: none;
  /* cursor: pointer; */
  padding: 5px 10px;
  text-align: center;
}

/* .welcome-button-primary:hover {
  background-color: rgba(255, 255, 255, 0.1);
} */

.main-content-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.main-text-container {
  flex: 1;
  padding: 20px;
}

.main-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.achievement-number {
  color: #273FF1;
  /* font-weight: bold; */
  font-size: 22px;
}

@media only screen and (max-width: 768px) {
  .main-content-section {
    flex-direction: column;
    align-items: center;
  }

  .main-image-container {
    order: -1;
    margin-top: 20px;
  }
}

.mission-statement-section {
  padding: 10px;
  text-align: center;
}

.mission-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 28px;
  color: #20265C;
}

.mission-description {
  font-size: 18px;
  color: #333;
  max-width: 70%;
  margin: 0 auto;
  padding: 0 20px;
}

.advisors-section {
  padding: 20px;
  text-align: center;
}

.advisors-heading {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 28px;
  color: #20265C;
}

.advisors-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.advisor-card {
  text-align: center;
  max-width: 200px;
  margin-bottom: 20px;
  padding: 10px;
}

.advisor-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.advisor-name {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
}

.advisor-title {
  font-size: 16px;
  color: #555;
}

.achievements-section {
  text-align: center;
}

.achievements-heading {
  margin-bottom: 20px;
  font-size: 28px;
  color: #20265C;
}

.achievements-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}

.achievement-item {
  text-align: center;
  max-width: 150px;
  padding: 10px;
}

.achievement-icon {
  width: 100%;
  max-width: 100px;
  height: auto;
  border-radius: 10px;
}

.achievement-description {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}